# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\应用软件\实训项目(2)（美多商城）\源码\mei-duo-mall_-first\meiduo_front_end_pc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
